<html lang="en">
    <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE">
    <link rel="stylesheet" href="//aui-cdn.atlassian.com/aui-adg/5.9.18/css/aui.min.css" media="all">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="//aui-cdn.atlassian.com/aui-adg/5.9.18/js/aui.min.js"></script>
    <link rel="stylesheet" href="//aui-cdn.atlassian.com/aui-adg/5.9.18/css/aui-experimental.min.css" media="all">
    <script src="//aui-cdn.atlassian.com/aui-adg/5.9.18/js/aui-experimental.min.js"></script>
    <title>AtlasCamp 2016 - Dockerize it Workshop</title>
    </head>
    <body class="aui-page-focused aui-page-size-medium">
    <div id="page">
      <header id="header" role="banner">
        <nav class="aui-header aui-dropdown2-trigger-group" role="navigation">
          <div class="aui-header-inner">
            <div class="aui-header-primary">
              <h1 id="logo" class="aui-header-logo aui-header-logo-bitbucket"><a href="http://example.com/"><span class="aui-header-logo-device">AUI</span></a></h1>
              <ul class="aui-nav">
              </ul>
            </div>
          </div>
        </nav>
      </header>
      <section id="content" role="main">
        <header class="aui-page-header">
          <div class="aui-page-header-inner">
            <div class="aui-page-header-main">
              <h1>AtlasCamp 2016 - Dockerize it Workshop</h1>
            </div>
          </div>
        </header>
        <div class="aui-page-panel">
          <div class="aui-page-panel-inner">
            <section class="aui-page-panel-content">
              <h2>{{message}}</h2>
              <div class="aui-group">
                <div class="aui-item">
                    <strong>Pipelines Logo</strong>
                    <img src="static/logo.png" style="margin-top: 40px; width: 100%;" />
                </div>
                <div class="aui-item">
                    <strong>Replace with your Gravatar</strong>
                    <img src="{{gravatar}}" style="margin: 10px 0 0 0; width: 100%;" />
                </div>
              </div>
            </section>
          </div>
        </div>
      </section>
      <footer id="footer" role="contentinfo">
        <section class="footer-body">
          <ul>
            <li>Any usefulness in this sample app is purely accidental &hearts;</li>
          </ul>
          <div id="footer-logo"><a href="http://www.atlassian.com/" target="_blank">Atlassian</a></div>
        </section>
      </footer>
    </div>
    </body>
</html>
